* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// VARIABLE
$white: #ffffff;
$black: #000;
$black-light: #2c2b2b;

$blue-light: #012e57;
$blue-dark: #002647;
$blue-dark-alpha: rgba(0, 38, 71, 0.3);
$gray-light: #b6b6b6;
$border-line: #d9d9d9;

$danger: #df0100; // no need for this as the svg is already colored
$warning: #fcb000;
$success: #37dd0d; // no need for this as the svg is already colored

body {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "roboto", sans-serif;

  background-color: antiquewhite;

  padding: 32px;

  main {
    width: 375px;
    min-height: 768px;
    filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.1));
    border-radius: 18px;
    overflow: hidden;

    margin: 12px;

    background-color: #eee;
  }

  header {
    width: 100%;

    height: 60px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);

    .color-div {
      height: 16px;
      background-color: $blue-dark;
    }
    .navigation {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 16px;
      gap: 16px;
      color: $blue-light;
      font-weight: 600;

      img {
        width: 24px;
        height: 24px;
        cursor: pointer;
        filter: invert(7%) sepia(82%) saturate(3451%) hue-rotate(195deg)
          brightness(96%) contrast(101%);
      }
    }
  }

  .patient-details {
    width: 100%;
    padding: 16px;
    color: $blue-light;
    font-weight: 600;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2px solid $border-line;

    .left {
      h1 {
        font-size: 18px;
      }
      h2 {
        font-size: 14px;
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 52px;
      height: 52px;
      border: 3px solid $blue-dark;
      border-radius: 50%;

      img {
        width: 36px;
        height: 36px;
        filter: invert(7%) sepia(82%) saturate(3451%) hue-rotate(195deg)
          brightness(96%) contrast(101%);
      }
    }
  }

  .goal-details {
    width: 90%;
    height: 150px;
    padding: 16px;
    margin: -12px auto 12px auto;
    border-radius: 16px;
    background-color: $blue-dark;

    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);

    h1 {
      color: $white;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }
    .stats {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      height: 85%;

      svg {
        height: 100%;
        position: relative;
        overflow: hidden;

        g {
          transform: translateX(62px);
          scale: 0.5;

          circle {
            transition: 0.5s;
          }
          #range-circle {
            stroke: $warning;
            stroke-dasharray: 1;
            transition: 0.5s;
          }
          text {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;

        .emg__rating,
        .rom__rating {
          background-color: $white;
          border: 1px solid $border-line;
          border-radius: 8px;
          padding: 10px;
          font-size: 13px;
          font-weight: 600;
          width: 86px;
          height: 42px;
          padding: 5px;
          text-align: start;

          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
        }
        .emg__rating,
        .rom__rating {
          img {
            width: 35px;
            height: 35px;
            object-fit: cover;
            align-self: center;
          }
        }
        .emg__rating {
          img {
            filter: invert(60%) sepia(89%) saturate(3406%) hue-rotate(73deg)
              brightness(122%) contrast(90%);
          }
        }
        .rom__rating {
          img {
            filter: invert(16%) sepia(79%) saturate(6892%) hue-rotate(11deg)
              brightness(86%) contrast(123%);
          }
        }
      }
    }
  }

  .personal-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: flex-start;
    gap: 12px;
    padding: 16px;
    font-size: 14px;

    color: $black-light;
    font-weight: 600;

    border-bottom: 2px solid $border-line;

    .label {
      font-weight: 600;
      color: $gray-light;
      width: 72px;
      flex: 1;
    }

    .value {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      flex: 1;
      img {
        width: 18px;
        height: 18px;
        filter: invert(7%) sepia(82%) saturate(3451%) hue-rotate(195deg)
          brightness(96%) contrast(101%);
      }
    }

    div {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
  .medical-history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 16px;

    border-bottom: 2px solid $border-line;

    color: $blue-dark;
    font-weight: 600;
    font-size: 14px;
    .left {
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      gap: 12px;

      img {
        width: 24px;
        height: 24px;
        filter: invert(12%) sepia(49%) saturate(1890%) hue-rotate(181deg)
          brightness(98%) contrast(106%);
      }
    }
    .right {
      width: max-content;
      color: $black-light;
      width: 100%;
    }
  }
}

.red {
  filter: invert(16%) sepia(79%) saturate(6892%) hue-rotate(11deg)
    brightness(86%) contrast(123%);
}
